@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url(//fonts.googleapis.com/css?family=Vibur);
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Programado en 1536 x 722 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --main-color: #9147ff;
  --gradient_blue: linear-gradient(148deg, rgba(213,246,255,1) 0%, rgba(122,228,255,1) 28%, rgba(171,144,255,1) 58%, rgba(145,71,255,1) 100%);
  --gradient_purple3: linear-gradient(148deg, rgba(250,225,255,1) 6%, rgba(240,155,255,1) 38%, rgba(238,119,252,1) 71%, rgba(157,92,255,1) 100%);
  --gradient_purple2: linear-gradient(148deg, rgba(250,225,255,1) 6%, rgba(240,155,255,1) 32%, rgba(238,119,252,1) 61%, rgba(145,71,255,1) 100%);
  --gradient_purple: linear-gradient(148deg, rgba(250,225,255,1) 6%, rgba(240,155,255,1) 38%, rgba(238,119,252,1) 71%, rgba(172,117,255,1) 100%);
  --background_color: linear-gradient(90deg, rgba(241,128,254,1) 0%, rgba(199,110,255,1) 61%, rgba(145,71,255,1) 100%);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.invert{
  filter: invert(1);
}

/* GENERAL THINGS ----------------------------------------------------------*/

.link{text-decoration: none;}
.link:link{text-decoration: none; color: white;}
.link:visited{text-decoration: none; color: white;}
.link:hover{
  color: var(--main-color);
  transform: scale(1.1);
}

.theme_color{color: var(--main-color);}

.section{
  width: 100vw;
  height: min-content;
  display: flex;
  margin: 0 0 1rem 0;
  background-color: white;
}

.body{
  background: black;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/* START ---------------------------------------------------------------- */

.ml4-div{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  background: #000;
  z-index: 100000000;
  font-size: 1rem;
}

.ml4 {
  position: absolute;
  font-weight: 900;
  font-size: 10em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #9147ff;
  z-index: 100000000;
}
.ml4 .letters {
  position: relative;
  margin: auto;
  opacity: 0; 
  z-index: 100000000;
}

/* NEON LIGHTS ---------------------------------------------------------------- */

.page{
  height: 100vh;
  width: 100vw;
}

.neon{
  font-family: 'Quicksand', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  font-size: 6em;
  color: white;
  text-shadow: 0 0 20px #ff005b;

}

.neon::after{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #ff005b;
  filter: blur(15px);
  
}

.neon::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fe3a80;
  z-index: -2;
  opacity: .5;
  filter: blur(40px);
}

/* --------------------------------------------------------------------------- */

.page2{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  position: relative;
  font-size: 6em;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 15px;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  line-height: 0.7em;
  outline: none;
  animation: animate 5s linear infinite;
}

@keyframes animate{
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%
  {
    color: #0e3742;
    text-shadow: none;

  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%
  {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;
  }
}

/* --------------------------------------------------------------------------- */

.page3{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  position: relative;
  display: inline-block;  
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}

a:hover{
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3,
  0 0 20px #2196f3,
  0 0 40px #2196f3,
  0 0 80px #2196f3;
  transition-delay: 1s;
}

a span{
  position: absolute;
  display: block;
}

a span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

a:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}

a span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

a:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

a span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

a:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

a span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

a:hover span:nth-child(4){
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/* --------------------------------------------------------------------------- */

.page4{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo b{
  font: 400 19vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px,
  0 0 2px,
  0 0 1em #ff4444,
  0 0 0.5em #ff4444,
  0 0 0.1em #ff4444,
  0 10px 3px #000;
}
.logo b span{
  font: 400 19vh "Vibur";
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  font: 400 19vh "Vibur";
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}









































