@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --main-color: #9147ff;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


/* ------------------------------------------------------------------------ */


.link{text-decoration: none;}
.link:link{text-decoration: none; color: white;}
.link:visited{text-decoration: none; color: white;}
.link:hover{color: var(--main-color); height: 100%; font-size: 175%;}
.logo_link:hover{transform: scale(1.1);}

.theme_color{color: var(--main-color);}

.s1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  z-index: 50;
}

/*Header --------------------------------------------------------------------------------------- */

header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 0.5em 3em;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color:  rgba(114, 114, 114, 0.5);
  backdrop-filter: blur(2.5px);
}

#logo{
  transform: scale(0.2);
}

.logo_link{
  max-height: 4em;
  max-width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.logo{
  top: 0;
  transform: scale(0.6);
}

.nav_bar{
  padding: 0em 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 2px;
}

.nav_bar a{
  margin: 0px 30px;
  transition: 0.5s;
}

.log_in_out{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 2px;
}

.log_in_out a{
  margin: 0px 30px;
  transition: 0.5s;
}

/*Section1 --------------------------------------------------------------------------------------- */

.s1 video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.1;
  mix-blend-mode: overlay;
}

.s1_text{
  position: absolute;
  z-index: 100;
  top: 70%;
  left: 20%;
  transform: translate(-20%, -70%);
  width: 60%;
}

.s1_text a h1{
  font-size: 7.5em;
  font-weight: 800;
  line-height: 1.4em;
  letter-spacing: 0.075em;
  /* font-family: ; */
  -webkit-text-stroke: 1px black;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.s1_text a{text-decoration: none;}
.s1_text a:link{text-decoration: none; color: white;}
.s1_text a:visited{text-decoration: none; color: white;}
.s1_text a h1:hover{
  color:var(--main-color);
  height: 100%;
  width: 8em;
  transform: scale(1.1);
  border-color: var(--main-color);
}

.s1_text p{
  font-size: 2em;
  line-height: 1.75em;
  /* font-family: ; */
  text-anchor: end;
}

.s1_buttons a{
  font-size: 3em;
  font-weight: 600;
  padding: 1em;
  color: white;
  display: flex;
  min-width: fit-content;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.s1_buttons a{text-decoration: none;}
.s1_buttons a:link{text-decoration: none; color: white;}
.s1_buttons a:visited{text-decoration: none; color: white;}
.s1_buttons a:hover{
  color:var(--main-color);
  height: 100%;
  width: fit-content;
  transform: scale(1);
  border-color: var(--main-color);
}

.s1_buttons{
  position: absolute;
  z-index: 100;
  display: flex;
  min-width: 5em;
  align-items: center;
  justify-content: center;
  top: 90%;
  left: 10%;
  transform: translate(-10%, -90%);
  font-size: 0.9em;
  font-weight: 600;
}

.buy_button{
  color: var(--main-color);
  display: flex;
  min-width: 8em;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border: white;
  border-style: solid;
  border-radius: 0.8em;
}

#pancake{
  transform: scale(0.40);
}
#twitter{
  transform: scale(0.40);
}
#poocoin{
  transform: scale(0.40);
}
#telegram{
  transform: scale(0.40);
}

.social-media{
  position: absolute;
  bottom: 15%;
  transform: translate(32.5%, 0%);
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.social-media li{
  list-style: none;
  height: 9em;
}

.social-media li a{
  display: inline-block;
  transform: scale(1);
  transition: 0.5s;
}

.social-link:hover{
  transform: scale(1.25) translateX(-0.5em);
}

.expand{
  letter-spacing: 0.1em;
  font-size: 1.1em;
}

/*Section3 --------------------------------------------------------------------------------------- */

.s3_div{
  position: absolute;
  background-color:  rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7.5px);
  z-index: 1000;
  border-radius: 2em;
  padding: 3em 3em 2em 3em;
  width: 35em;
  height: 40em;
  text-align: center;
}

.s3_q2{
  top: 15%;
  left: 25%;
  transform: translate(-25%, -15%);
}

.s3_q3{
  top: 85%;
  left: 75%;
  transform: translate(-75%, -85%);
}

.s3_div h2{
  font-size: 4em;
  line-height: 1.75em;
  color: var(--main-color);
  -webkit-text-stroke: 1px black;
  text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.roadmap_text{
  font-size: 2em;
  font: 1000;
  line-height: 1.5em;
  /* font-family: ; */
}

.s3_div li{
  list-style: none;
}



/*Section2 --------------------------------------------------------------------------------------- */

.containers2{
  position: absolute;
  top: 33%;
  left: 10%;
  width: 100%;
  height: 100%;
  transform: translate(-10%, -30%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.subcontainers2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 7em;
}

.img{
  width: cover;
  height: cover;
}

.text_cd, .text_lp, .text_sr {
  font-size: 2em;
  padding: 0px 2em;
  margin: 2em 0;
}

.description{
  padding-right: 7em;
}

.description h2 {
  color: var(--main-color); 
}

.description p {
  color: black; 
}

.text_cp, .text_hodl, .text_sup, .text_mc {
  font-size: 2em;
  padding: 0px 2em;
  text-align: center;
  border-radius: 50px;
  margin: 0 2em;
  box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.subcontainers2 h3{
  color: var(--main-color);
  font-size: 1.5em;
  -webkit-text-stroke: 1px black;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.subcontainers2 h4{
  color: black;
}

.none {
  display: none;
}

.s3 video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.s4 .img {
  z-index: -50; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.containers4{
  position: absolute;
  top: 33%;
  left: 10%;
  width: 100vw;
  height: 100vh;
  transform: translate(-10%, -30%);
  justify-content: space-evenly;
}

.subcontainers4 {
  position: absolute;
  top: 82.5%;
  transform: translate(0%, -82.5%);
  display: flex;
  height: 30%;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 2% 5%;
  align-items: center;
  background-color: rgba(81, 81, 81, 0.65);
  backdrop-filter: blur(6px);
}

.subsubcontainers4 {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 2em;
  width: 60%;
  height: 100%;
  justify-content: space-between;
}

.subsubcontainers4 h2 {
  color: var(--main-color);
  font-size: 2em;
  -webkit-text-stroke: 1px black;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}


.subsubcontainers4 div {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  height: 20%;
}

.subsubcontainers4 div .img_div {
  width: 6%;
  margin: 0;
  padding: 0;
}

.subsubcontainers4 div .img_div img {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.subsubcontainers4 h3 {
  color: white;
  text-indent:0.5em;
  width: 94%;
  font-size: 1.2em;
}

.social-medias4{
  z-index: 10;
  display: flex;
  flex-direction: row;
  width: 30%;
}

.social-medias4 a {
  z-index: 10;
  width: 25%;
}

#pancakes4{
  transform: scale(0.40);
}
#twitters4{
  transform: scale(0.40);
}
#poocoins4{
  transform: scale(0.40);
}
#telegrams4{
  transform: scale(0.40);
}
#inv_link_tele{
  display: none;
  background-color: #29a5d8;
}

.subsubcontainers4 a{
  font-size: 1em;
  font-weight: 600;
  padding: 0.5em;
  color: white;
  display: flex;
  min-width: fit-content;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.subsubcontainers4 a{text-decoration: none;}
.subsubcontainers4 a:link{text-decoration: none; color: white;}
.subsubcontainers4 a:visited{text-decoration: none; color: white;}
.subsubcontainers4 a:hover{
  color:white;
  width: fit-content;
  transform: scale(1.2);
}

.link_telegram{
  display: flex;
  min-width: 8em;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border-radius: 0.75em;
}

.social-links4:hover{
  transform: scale(1.25) translateX(-0.5em);
}


.s2 {
  width: 100%;
  min-height: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, rgb(187, 187, 187), white 20%);
  color: rgb(255, 255, 255);
  z-index: 10;
}

.s2 .text{
  position: absolute;
  width: 50%;
  top: 30%;
  left: 10%;
  transform: translate(-10%, -30%);
}


.s2 h1{
  font-size: 5em;
  font-weight: 800;
  line-height: 2.25em;
}

.footer {
  position: absolute;
  bottom: 3%;
  background-color: #111;
  height: auto;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 0.75%;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.text_footer{
  font-size: 1.2em;
  font-weight: 300;
  color: white;
}

.footer_link{text-decoration: none;}
.footer_link:link{text-decoration: none; color: var(---main-color);}
.footer_link:visited{text-decoration: none; color: #515151;}
.footer_link:hover{color: rgb(81, 81, 81); height: 100%; font-size: 105%;}

/*Responsive --------------------------------------------------------------------------------------------- */


@media(max-width: 2440px){
  .s3_q2{
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%);
  }
  
  .s3_q3{
    top: 50%;
    left: 75%;
    transform: translate(-75%, -50%);
  }
  .text_cp, .text_hodl, .text_sup, .text_mc {
    font-size: 2em;
    padding: 0px 2em;
    text-align: center;
    border-radius: 50px;
    margin: 0 1.5em;
    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
  }

}

@media(max-width: 2315px){
  .text_cp, .text_hodl, .text_sup, .text_mc {
    font-size: 1.5em;
    padding: 0px 2em;
    text-align: center;
    border-radius: 50px;
    margin: 0 1.5em;
    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
}

@media(max-width: 2440px){
  .s3_q2{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-0%, -50%);
    margin-left: 20em;
  }
  
  .s3_q3{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    margin-left: -25em;
  }

}

@media(max-width: 2015px){
  .subsubcontainers4 h3 {
    font-size: 1em;
  }
}

@media(max-width: 2000px){
  .s3_q2{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    margin-left: 10em;
  }
  
  .s3_q3{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    margin-left: -15em;
  }

}

@media(max-height: 1048px){
  .s1_buttons{
    font-size: 0.5em;
  }
  .subcontainers4 {
    top: 75%;
    transform: translate(0%, -75%);
    height: 40%;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 2% 5%;
  }
}


@media(max-width: 1850px){
  .s2 .text{
    position: absolute;
    width: 75%;
    top: 30%;
    left: 20%;
    transform: translate(-20%, -30%);
  }

  .s2 h1{
    font-size: 3em;
    font-weight: 800;
    line-height: 2.25em;
  }

  .description{
    font-size: 0.9em;
  }
  /* ------------------------------------------------------------------------------------------- */

}

@media(max-width: 1810px){
  .s3_q2{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    margin-left: 17.5em;
  }
  
  .s3_q3{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    margin-left: -20.5em;
  }

  .text_cp, .text_hodl, .text_sup, .text_mc {
    font-size: 1.25em;
    padding: 0px 2em;
    text-align: center;
    border-radius: 50px;
    margin: 0 1.5em;
    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  .text_cd, .text_lp, .text_sr {
    font-size: 1.75em;
    padding: 0px 2em;
    margin: 2em 0;
  }
  .description h2 {
    color: var(--main-color); 
    font-size: 2em;
  }


}

@media(max-width: 1700px){

  .s3_q2{
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-20%, -20%);
    margin-left: 0em;
  }
  
  .s3_q3{
    position: absolute;
    top: 85%;
    left: 80%;
    transform: translate(-80%, -85%);
    margin-left: 0em;
  }


  .s1_buttons{
    position: absolute;
    z-index: 100;
    display: flex;
    min-width: 8em;
    align-items: center;
    justify-content: center;
    top: 95%;
    left: 10%;
    transform: translate(-10%, -95%);
    font-size: 1em;
    font-weight: 600;
  }
  /* ------------------------------------------------------------------------------------------- */

}

@media(max-width: 1690px){
  .subsubcontainers4 h2 {
    font-size: 1.5em;
  }
  .subsubcontainers4 h3 {
    font-size: 0.9em;
  }
}

@media(max-width: 1580px){
  #logo{
    transform: scale(0.2);
  }
  .logo_link{
    max-height: 3.5em;
  }
  .s1_text a{
    font-size: 0.75em;
    line-height: 1.75em;
  }
  .s1_text p{
    font-size: 1.5em;
    line-height: 1.75em;
  }
  .s1_buttons{
    position: absolute;
    z-index: 100;
    display: flex;
    min-width: 5em;
    align-items: center;
    justify-content: center;
    top: 85%;
    left: 10%;
    transform: translate(-10%, -85%);
    font-size: 0.7em;
    font-weight: 600;
  }

  .s3_div{
    height: fit-content;
  }
  
  .s3_q2{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  
  .s3_q3{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -85%);
  }

  .s3_div h2{
    font-size: 3em;
  }

  .roadmap_text{
    font-size: 1.75em;
  }
  .text_cp, .text_hodl, .text_sup, .text_mc {
    font-size: 1.15em;
    padding: 0px 2em;
    text-align: center;
    border-radius: 50px;
    margin: 0 1.5em;
    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  .text_cd, .text_lp, .text_sr {
    font-size: 1.75em;
    padding: 0px 2em;
    margin: 2em 0;
  }
  .description h2 {
    color: var(--main-color); 
    font-size: 1.5em;
  }
  .s2_img{
    transform: scale(0.8);
  }
  .subcontainers2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 3em 0 7em;
  }
  .description{
    padding: 0;
  }




  /* ------------------------------------------------------------------------------------------- */

}

@media(max-height: 910px){
  .s1_buttons{
    position: absolute;
    z-index: 100;
    display: flex;
    min-width: 5em;
    align-items: center;
    justify-content: center;
    top: 90%;
    left: 10%;
    transform: translate(-10%, -90%);
    font-size: 0.5em;
    font-weight: 600;
    padding: 0;
    width: fit-content; 
  }
  #pancake{
    transform: scale(0.30);
  }
  #twitter{
    transform: scale(0.30);
  }
  #poocoin{
    transform: scale(0.30);
  }
  #telegram{
    transform: scale(0.30);
  }
  .social-media{
    bottom: 2.5em;
  }

  .social-media li{
    height: 5em;
  }
  .social-media a{
    height: 5em;
  }

  .s3_div{
    height: 30em;
  }
  
  .s3_q2{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
  }
  
  .s3_q3{
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-90%, -50%);
  }

  .s3_div h2{
    font-size: 3em;
  }

  .roadmap_text{
    font-size: 1.75em;
  }
  /* ------------------------------------------------------------------------------------------- */

  .subcontainers4 {
    top: 70%;
    transform: translate(0%, -70%);
    height: 35%;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 2% 5%;
  }
  .subcontainers2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 3em 0em 7em;
  }
  .s2_stats-container{
    padding: 0 3em 3em 7em;
  }
}


@media(max-width: 1515px){
  .subsubcontainers4 h3 {
    font-size: 0.8em;
  }
  .subsubcontainers4 div .img_div img {
    width:40px;
    height: 40px;
  }
}

@media(max-width: 1380px){
  .nav_bar {
    font-size: 1.5em;
  }

  .social-media{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(10%, -50%);
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
  }
  .social-media ul{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, -50%);
    flex-direction: row;
    width: 100%;
  }

  .social-media li{
    width: 60px;
    transform: translate(0, -100%);
  }
  .text_cp, .text_hodl, .text_sup, .text_mc {
    font-size: 1em;
    padding: 0px 2em;
    text-align: center;
    border-radius: 50px;
    margin: 0 1.5em;
    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  .text_cd, .text_lp, .text_sr {
    font-size: 1.75em;
    padding: 0px 2em;
    margin: 2em 0;
  }
  .description h2 {
    color: var(--main-color); 
    font-size: 1.5em;
  }
  .s2_img{
    transform: scale(0.8);
  }
  .subcontainers2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 3em 0 7em;
  }
  .description{
    padding: 0;
  }
  /* ------------------------------------------------------------------------------------------- */

  
}

@media(max-width: 1345px){
  .subsubcontainers4 h3 {
    font-size: 0.7em;
  }
  .subsubcontainers4 div .img_div img {
    width:35px;
    height: 35px;
  }
  .subsubcontainers4 h2 {
    font-size: 1.2em;
  }
  #pancakes4{
    transform: scale(0.30);
  }
  #twitters4{
    transform: scale(0.30);
  }
  #poocoins4{
    transform: scale(0.30);
  }
  #telegrams4{
    transform: scale(0.30);
  }
  .text_cp, .text_hodl, .text_sup, .text_mc {
    font-size: 1em;
    padding: 0px 2em;
    text-align: center;
    border-radius: 50px;
    margin: 0 1.5em;
    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  .text_cd, .text_lp, .text_sr {
    font-size: 1.5em;
    padding: 0px 2em;
    margin: 2em 0;
  }
  .description h2 {
    color: var(--main-color); 
    font-size: 1.5em;
  }
  .s2_img{
    transform: scale(0.8);
  }
  .subcontainers2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 3em 0 7em;
  }
  .description{
    padding: 0;
  }
}

@media(max-width: 1310px){
  .nav_bar {
    font-size: 1.25em;
  }

  .nav_bar{
    padding: 0em 2em;
  }

  .subcontainers4 {
    flex-direction: column;
  }

  .subsubcontainers4 {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icons4 {
    width: fit-content !important;
  }

  .subsubcontainers4 h3 {
    font-size: 0.6em;
  }

  .social-medias4{
    width: 100%;
    height: 150%;
    position: absolute;
    transform: translate(-5%, 5%);
  }

}

@media(max-width: 1275px){
  #inventions_for_sale{
    display: none;
  }

  #patent_attorneys{
    display: none;
  }

  .text_title h1{
    line-height: 1.4em;
  }

  .log_in_out a{
    margin: 0px 10px;
  }
  
  .social-media{
    transform: translate(5%, -50%);    
  }
  .text_cp, .text_hodl, .text_sup, .text_mc {
    font-size: 0.9em;
    padding: 0px 2em;
    text-align: center;
    border-radius: 50px;
    margin: 0 1.5em;
    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  .text_cd, .text_lp, .text_sr {
    font-size: 1.25em;
    padding: 0px 2em;
    margin: 2em 0;
  }
  .description h2 {
    color: var(--main-color); 
    font-size: 1.5em;
  }
  .s2_img{
    transform: scale(0.8);
  }
  .subcontainers2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 3em 0 7em;
  }
  .description{
    padding: 0;
  }
  /* ------------------------------------------------------------------------------------------- */

}
@media(max-height: 830px){
  .subcontainers4 {
    top: 70%;
    transform: translate(0%, -70%);
    height: 55%;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 0 5%;
    padding-top: 20%;
  }
  .s2_stats-container{
    padding: 0 3em 3em 7em;
  }
}

@media(max-height: 810px){
  #logo{
    transform: scale(0.15);
  }
  .s1_buttons{
    position: absolute;
    z-index: 100;
    display: flex;
    min-width: 5em;
    align-items: center;
    justify-content: center;
    top: 90%;
    left: 10%;
    transform: translate(-10%, -90%);
    font-size: 0.4em;
    font-weight: 600;
    padding: 0;
    width: fit-content; 
  }
  #pancake{
    transform: scale(0.30);
  }
  #twitter{
    transform: scale(0.30);
  }
  #poocoin{
    transform: scale(0.30);
  }
  #telegram{
    transform: scale(0.30);
  }
  .social-media ul{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75%;
    transform: translate(130%, -10%);
  }

  .social-media li{
    width: 1em;
  }
  .social-media a{
    width: 1em;
  }
  .s1_buttons{
    position: absolute;
    z-index: 100;
    display: flex;
    min-width: 5em;
    align-items: center;
    justify-content: center;
    top: 95%;
    left: 10%;
    transform: translate(-10%, -95%);
    font-size: 0.5em;
    font-weight: 600;
    padding: 0;
    width: fit-content; 
  }
  /* ------------------------------------------------------------------------------------------- */
  .subcontainers4 {
    top: 70%;
    transform: translate(0%, -70%);
    height: 45%;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 2% 5%;
  }
}

@media(max-height: 740px){
  .subcontainers4 {
    top: 70%;
    transform: translate(0%, -70%);
    height: 60%;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 0 5%;
    padding-top: 20%;
  }
}

@media(max-height: 700px){
  .subcontainers4 {
    position: absolute;
    top: 20%;
    transform: translate(0%, -20%);
    display: flex;
    height: 30%;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 2% 5%;
    align-items: center;
    background-color: rgba(81, 81, 81, 0.65);
    backdrop-filter: blur(6px);
  }
}


@media(max-height: 670px){
  .subcontainers4 {
    top: 70%;
    transform: translate(0%, -70%);
    height: 70%;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 0 5%;
    padding-top: 20%;
  }
}

@media(max-height: 670px){
  .subsubcontainers4 a{
    font-size: 0.7em;
  }
}

@media(max-width: 1180px){
  .subsubcontainers4 h3 {
    font-size: 0.5em;
  }
  .subsubcontainers4 div .img_div img {
    width:30px;
    height: 30px;
  }
  .subsubcontainers4 h2 {
    font-size: 1.1em;
  }
}

@media(max-width: 1100px){
  #s1_description{
    display: none;
  }
  .s1_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .s1_text a h1{
    font-size: 8em;
  }
  .s1_text p{
    font-size: 4em;
  }
  .s1_buttons{
    left: 50%;
    top: 75%;
    transform: translate(-50%, -75%);
    font-size: 1.3em;
  }
  .social-media{
    bottom: 0%;
    left: 0%;
    transform: translate(-40%, -50%);
    justify-content: space-between;
  }
  
}

@media(max-width: 1180px){
  
  .text_cd, .text_lp, .text_sr {
    font-size: 2em;
    padding: 0px 2em;
    margin: 2em 0;
  }
  .description h2 {
    color: var(--main-color); 
    font-size: 1.5em;
  }
  .s2_img{
    display: none;
  }
  .subcontainers2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 7em 0 7em;
  }
  .description{
    padding: 0;
  }
  .text_cp, .text_hodl, .text_sup, .text_mc {
    font-size: 1.6em;
    padding: 0px 2em;
    text-align: center;
    border-radius: 50px;
    margin: 1em 1em;
    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  .containers2{
    justify-content: center;
  }
}

@media(max-width: 1080px){
  .s1_buttons{
    font-size: 1em;
  }
  .s1_text a h1{
    font-size: 7em;
  }

  .social-media{
    bottom: 0%;
    left: 0%;
    transform: translate(-12.5%, -50%);
    justify-content: space-between;
    display: none;
  }
  .text_cp, .text_hodl, .text_sup, .text_mc {
    font-size: 1.25em;
    padding: 0px 2em;
    text-align: center;
    border-radius: 50px;
    margin: 1em 1em;
    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  /* ------------------------------------------------------------------------------------------- */

}
@media(max-width: 930px){
  .text_cp, .text_hodl, .text_sup, .text_mc {
    display: none;
  }
  .text_cd, .text_lp, .text_sr {
    font-size: 2.8em;
    padding: 0px 2em;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .description h2 {
    color: var(--main-color); 
    font-size: 1.5em;
  }
}


@media(max-width: 900px){
  .s1_text a h1{
    font-size: 6em;
  }
  .s1_text p{
    font-size: 3em;
  }
  .s1_buttons{
    font-size: 0.8em;
  }
  .text_cd, .text_lp, .text_sr {
    font-size: 2.5em;
    padding: 0px 2em;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .description h2 {
    color: var(--main-color); 
    font-size: 1.25em;
  }
  /* ------------------------------------------------------------------------------------------- */

}

@media(max-width: 770px){
  header{
    padding: 0.5em 3em;
  }

  .s1_text a h1{
    line-height: 1.4em;
    font-size: 5em;
  }

  .s1_text p{
    font-size: 2em;
  }

  .s1_buttons{
    font-size: 1.5em;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -70%);
    width: 80%;
  }

  .s1_buttons a{
    padding: 0.25em;
    width: fit-content;
  }
  .logo_link{
    margin:1px;
  }
  .nav_bar{
    padding: 0px 5px;
  }

  .s2 h1{
    font-size: 2.5em;
    font-weight: 700;
    line-height: 2em;
  }

  .description{
    font-size: 0.8em;
  }

  .s3_div{
    height: fit-content;
    width: 75%;
  }
  
  .s3_q2{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  
  .s3_q3{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -85%);
  }

  .s3_div h2{
    font-size: 4em;
  }

  .roadmap_text{
    font-size: 1.5em;
  }
  /* ------------------------------------------------------------------------------------------- */

}

@media(max-width: 695px){
  .logo_link{
    display: none;
  }
  .header{
    padding: 1em 0;
    justify-content: center;
  }
  /* ------------------------------------------------------------------------------------------- */
  #twitters4{
    display: none;
  }
  #pancakes4{
    display: none;
  }
  #poocoins4{
    display: none;
  }
  #telegrams4{
    display: none;
  }
  .social-medias4{
    justify-content: center;
    width: 20%;
  }
  #inv_link_tele{
    z-index: 50;
    display: block;
  }
  .text_cd, .text_lp, .text_sr {
    font-size: 2.2em;
    padding: 0px 2em;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .description h2 {
    color: var(--main-color); 
    font-size: 1.25em;
  }
}

@media(max-width: 650px){
  .s1_text a h1{
    font-size: 4em;
  }
  .s1_text p{
    font-size: 2em;
  }

  .description{
    font-size: 0.7em;
  }
  .s1_buttons{
    position: absolute;
    z-index: 100;
    display: flex;
    min-width: 8em;
    align-items: center;
    justify-content: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: 1.2em;
    font-weight: 600;
  }
  .subcontainers2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em 0 4em;
}
  /* ------------------------------------------------------------------------------------------- */

}

@media(max-width: 550px){
  .s1_text a h1{
    font-size: xx-large;
  }
  .s1_text p{
    font-size: x-large;
  }
  .s1_buttons{
    font-size: 0.9em;
  }
  .nav_bar{
    font-size: 1em;
  }
  .nav_bar a{
    margin: 0em 2em;
  }
  
  .s3_div{
    padding: 1.5em 2em 2em 2em;
  }
  .text_cd, .text_lp, .text_sr {
    font-size: 1.75em;
    padding: 0px 2em;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .description h2 {
    color: var(--main-color); 
    font-size: 1.75em;
  }
  /* ------------------------------------------------------------------------------------------- */

}

@media(max-width: 485px){
  .s1_buttons{
    font-size: 0.7em;
  }

  .logo{
    margin-left: 275px;
  }

  .text_title{
    font-size: 0.8em;
  }
  
  .text_title h1{
    line-height: 1.75em;
  }

  .s2 .text{
    width: 100%;
    text-align: center;
    margin: auto;
  }

  .s2 h1{
    font-size: 5em;
  }

  .text_footer{
    font-size: 0.7em;
  }

  .nav_bar{
    font-size: 0.75em;
  }

  .s3_div h2{
    font-size: 3.3em;
  }
  .text_cd, .text_lp, .text_sr {
    font-size: 1.5em;
    padding: 0px 2em;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .description h2 {
    color: var(--main-color); 
    font-size: 1.75em;
  }
  .subcontainers2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em 0 2em;
}
  /* ------------------------------------------------------------------------------------------- */

}

@media(max-width: 420px){
  .text_footer{
    font-size: 0.6em;
  }

  .log_in_out{
    display: none;
  }

  .logo{
    margin-left: 248px;

  }

  .text_title h1{
    line-height: 1.75em;
    font-size: 3em;
  }

  .s1_buttons{
    font-size: 0.6em;
  }

  .social-media{
    flex-direction: row;
    padding: 1em 1em;
    margin: 0px 30px;
  }

  .social-media li{
    width: 60px;
  }
  .nav_bar{
    font-size: 0.75em;
  }
  .nav_bar a{
    margin: 0em 2em;
  }
  
  .s3_div{
    height: fit-content;
    padding: 1em;
  }

  .s3_q2{
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
  }
  
  .s3_q3{
    top: 85%;
    left: 50%;
    transform: translate(-50%, -85%);
  }

  .s3_div h2{
    font-size: 1.75em;
  }
  .roadmap_text{
    font-size: 1em;
  }
  /* ------------------------------------------------------------------------------------------- */

}

@media(max-width: 380px){
  .s1_text a h1{
    font-size: 2.25em;
  }
  .s1_text p{
    font-size: 1.25em;
  }
  .text_footer{
    font-size: 0.6em;
  }
  .text_title{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .text_title h1{
    line-height: 1.75em;
    margin: 30px;
    text-align: center;
  }

  .social-media{
    flex-direction: row;
    padding: 1em 1em;
    margin: 0px 20px;
  }

  .logo{
    margin-left: 230px;
  }

  .social-media li{
    width: 60px;
  }

  .s2 h1{
    font-size: 4em;
  }
  .nav_bar{
    font-size: 0.6em;
  }
  .s3_div{
    width: 15em;
    padding: 0.5em 0.5em;
  }
  .s3_div h2{
    font-size: 2em;
  }
  .roadmap_text{
    font-size: 0.75em;
  }
  .text_cd, .text_lp, .text_sr {
    font-size: 1.25em;
    padding: 0px 2em;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .description h2 {
    color: var(--main-color); 
    font-size: 1.5em;
  }
  .subcontainers2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em 0 2em;
  }
  /* ------------------------------------------------------------------------------------------- */

}

@media(max-width: 365px){
  .logo{
    margin-left: 200px;
  }
  .text_title{
    top: 30%; 
    left: 10%;
    transform: translate(-10%, -30%);
  }
  .nav_bar{
    padding: 0em 0em;
    font-size: 0.6em;
  }
  .nav_bar a{
    margin: 0em 2em;
  }
  .s3_div{
    width: 15em;
    padding: 0.5em 0.5em;
  }
  .s3_div h2{
    font-size: 1em;
  }
  .roadmap_text{
    font-size: 0.65em;
  }
  /* ------------------------------------------------------------------------------------------- */

}

@media(max-width: 300px){
  .logo{
    margin-left: 150px;
  }
  .social-media{
    display: none;
  }
  .nav_bar{
    padding: 0em 0em;
    font-size: 0.5em;
  }
  .nav_bar a{
    margin: 0em 2em;
  }
  .text_cd, .text_lp, .text_sr {
    font-size: 1em;
    padding: 0px 2em;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .description h2 {
    color: var(--main-color); 
    font-size: 1.15em;
  }
  .subcontainers2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em 0 2em;
  }
  /* ------------------------------------------------------------------------------------------- */

}

/* CONCRETE RESOLUTIONS ------------------------------------------------------------- */

@media(width: 2048px){
  @media(height: 1080px){
    .subcontainers4 {
      position: absolute;
      top: 75%;
      transform: translate(0%, -75%);
      display: flex;
      height: 40%;
      width: 95%;
      margin-left: 2.5%;
      margin-right: 2.5%;
      padding: 2% 5%;
      align-items: center;
      background-color: rgba(81, 81, 81, 0.65);
      backdrop-filter: blur(6px);
    }
    .s1_buttons{
      position: absolute;
      z-index: 100;
      display: flex;
      min-width: 5em;
      align-items: center;
      justify-content: center;
      top: 95%;
      left: 10%;
      transform: translate(-10%, -95%);
      font-size: 0.75em;
      font-weight: 600;
      padding: 0;
      width: fit-content; 
    }
  }
}

@media(width: 2048px){
  @media(height: 1152px){
    .subcontainers4 {
      position: absolute;
      top: 75%;
      transform: translate(0%, -75%);
      display: flex;
      height: 35%;
      width: 95%;
      margin-left: 2.5%;
      margin-right: 2.5%;
      padding: 2% 5%;
      align-items: center;
      background-color: rgba(81, 81, 81, 0.65);
      backdrop-filter: blur(6px);
    }
    .s1_buttons{
      position: absolute;
      z-index: 100;
      display: flex;
      min-width: 5em;
      align-items: center;
      justify-content: center;
      top: 95%;
      left: 10%;
      transform: translate(-10%, -95%);
      font-size: 0.75em;
      font-weight: 600;
      padding: 0;
      width: fit-content; 
    }
  }
}

@media(width: 1920px){
  @media(height: 1200px){
    .s1_buttons{
      position: absolute;
      z-index: 100;
      display: flex;
      min-width: 5em;
      align-items: center;
      justify-content: center;
      top: 95%;
      left: 10%;
      transform: translate(-10%, -95%);
      font-size: 0.75em;
      font-weight: 600;
      padding: 0;
      width: fit-content; 
    }
  }
}

@media(width: 1920px){
  @media(height: 1080px){
    .containers2{
      position: absolute;
      top: 33%;
      left: 10%;
      width: 100%;
      height: 100%;
      transform: translate(-10%, -30%);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-bottom: 5em;
    }

    .subcontainers4 {
      position: absolute;
      top: 75%;
      transform: translate(0%, -75%);
      display: flex;
      height: 35%;
      width: 95%;
      margin-left: 2.5%;
      margin-right: 2.5%;
      padding: 2% 5%;
      align-items: center;
      background-color: rgba(81, 81, 81, 0.65);
      backdrop-filter: blur(6px);
    }
    .s1_buttons{
      position: absolute;
      z-index: 100;
      display: flex;
      min-width: 5em;
      align-items: center;
      justify-content: center;
      top: 95%;
      left: 10%;
      transform: translate(-10%, -95%);
      font-size: 0.75em;
      font-weight: 600;
      padding: 0;
      width: fit-content; 
    }
  }
}

@media(width: 1280px){
  @media(height: 1024px){
    .s1_buttons{
      position: absolute;
      z-index: 100;
      display: flex;
      min-width: 5em;
      align-items: center;
      justify-content: center;
      top: 90%;
      left: 10%;
      transform: translate(-10%, -90%);
      font-size: 0.7em;
      font-weight: 600;
      padding: 0;
      width: fit-content; 
    }
    .social-media ul{
      position: absolute;
      bottom: 0;
      right: 0;
      width: 75%;
      transform: translate(100%, -70%);
    }
    .s3_q2{
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-0%, -50%);
      margin-left: 6.5em;
    }
    
    .s3_q3{
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(0%, -50%);
      margin-left: 2em;
    }
    .s3_div{
      height: fit-content;
      width: 32em;
    }
  }
}

@media(width: 1366px){
  @media(height: 768px){
    .containers2{
      position: absolute;
      top: 33%;
      left: 10%;
      width: 100%;
      height: 100%;
      transform: translate(-10%, -30%);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-bottom: 5em;
      padding-top: 5em;
    }
    .text_cd, .text_lp, .text_sr {
      font-size: 1.5em;
      padding: 0px 2em;
      margin: 2em 0;
    }
    .s3_q2{
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-0%, -50%);
      margin-left: 5em;
    }
    
    .s3_q3{
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(0%, -50%);
      margin-left: -30em;
    }
    .s3_div{
      height: fit-content;
      width: 32.5em;
    }
  }
}

@media(max-width: 1290px){
  .s3_div{
    height: fit-content;
  }
}

@media(width: 1280px){
  @media(height: 720px){
    .containers2{
      position: absolute;
      top: 33%;
      left: 10%;
      width: 100%;
      height: 100%;
      transform: translate(-10%, -30%);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-bottom: 5em;
      padding-top: 5em;
    }
    .text_cd, .text_lp, .text_sr {
      font-size: 1.3em;
      padding: 0px 2em;
      margin: 2em 0;
    }

    .subcontainers4 {
      position: absolute;
      top: 65%;
      transform: translate(0%, -65%);
      display: flex;
      height: 50%;
      width: 95%;
      margin-left: 2.5%;
      margin-right: 2.5%;
      padding: 2% 5%;
      align-items: center;
      background-color: rgba(81, 81, 81, 0.65);
      backdrop-filter: blur(6px);
    }
    .s3_q2{
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-0%, -50%);
      margin-left: 7.5em;
    }
    
    .s3_q3{
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(0%, -50%);
      margin-left: -30em;
    }
    .s3_div{
      height: fit-content;
      width: 32em;
    }
  }
}

@media(width: 1152px){
  @media(height: 864px){
    .containers2{
      position: absolute;
      top: 35%;
      left: 10%;
      width: 100%;
      height: 80%;
      transform: translate(-10%, -25%);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-bottom: 2em;
      padding-top: 2em;
    }
    .subcontainers2 {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 7em;
    }
    .text_cd, .text_lp, .text_sr {
      font-size: 1.3em;
      padding: 0px 2em;
      margin: 0.4em 0;
    }
    .text_cp, .text_hodl, .text_sup, .text_mc {
      font-size: 1em;
      padding: 0px 2em;
      text-align: center;
      border-radius: 50px;
      margin: 0.4 2em;
      box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
    }
    
    .containers4{
      position: absolute;
      top: 33%;
      left: 10%;
      width: 100vw;
      height: 100vh;
      transform: translate(-10%, -30%);
      justify-content: space-evenly;
    }
    .subcontainers4 {
      position: absolute;
      top: 75%;
      transform: translate(0%, -75%);
      display: flex;
      height: 40%;
      width: 95%;
      margin-left: 2.5%;
      margin-right: 2.5%;
      padding: 2% 5%;
      align-items: center;
      background-color: rgba(81, 81, 81, 0.65);
      backdrop-filter: blur(6px);
    }
    .subsubcontainers4 {
      display: flex;
      flex-direction: column;
      font-size: 2.3em;
      width: 100%;
      height: 70%;
      justify-content: space-evenly;
      align-content: center;
    }
    .subsubcontainers4 div {
      display: flex;
      width: 100%;
      padding: 0;
      margin: 10px 0;
      justify-content: space-evenly;
    }


    .s3_q2{
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-0%, -50%);
      margin-left: 3em;
    }
    
    .s3_q3{
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(0%, -50%);
      margin-left: -28em;
    }
    .s3_div{
      height: fit-content;
      width: 32em;
    }
  }
}

@media(width: 1024px){
  @media(height: 768px){
    .s1_buttons{
      position: absolute;
      z-index: 100;
      display: flex;
      min-width: 5em;
      align-items: center;
      justify-content: center;
      top: 77.5%;
      left: 50%;
      transform: translate(-50%, -77.5%);
      font-size: 0.7em;
      font-weight: 600;
      padding: 0;
      width: fit-content; 
    }

    .s3_q2{
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-0%, -50%);
      margin-left: 3em;
    }
    .s3_q3{
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(0%, -50%);
      margin-left: -23em;
    }
    .s3_div{
      height: fit-content;
      width: 26em;
    }

    .containers2{
      position: absolute;
      top: 35%;
      left: 10%;
      width: 100%;
      height: 80%;
      transform: translate(-10%, -25%);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-bottom: 2em;
      padding-top: 2em;
    }
    .subcontainers2 {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 7em;
    }
    .text_cd, .text_lp, .text_sr {
      font-size: 1.3em;
      padding: 0px 2em;
      margin: 0.5em 0;
    }
    .text_cp, .text_hodl, .text_sup, .text_mc {
      font-size: 1em;
      padding: 0px 2em;
      text-align: center;
      border-radius: 50px;
      margin: 0.5 2em;
      box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
    }
  }
}
@media(width: 850px){
  @media(height: 480px){
    .s1_buttons{
      position: absolute;
      z-index: 100;
      display: flex;
      min-width: 5em;
      align-items: center;
      justify-content: center;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -85%);
      font-size: 0.3em;
      font-weight: 600;
      padding: 0;
      width: fit-content; 
    }

    .s3_q2{
      position: absolute;
      top: 80%;
      left: 0%;
      transform: translate(-0%, -80%);
      margin-left: 3em;
    }
    
    .s3_q3{
      position: absolute;
      top: 80%;
      right: 0%;
      transform: translate(0%, -80%);
      margin-left: -18em;
    }
    .s3_div{
      height: fit-content;
      width: 20em;
    }
    .s3_div h2{
      font-size: 2em;
      line-height: 1.75em;
      color: var(--main-color);
      -webkit-text-stroke: 1px black;
      text-shadow:
          3px 3px 0 #000,
          -1px -1px 0 #000,  
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
    }
    
    .roadmap_text{
      font-size: 1em;
      font: 1000;
      line-height: 1.5em;
      /* font-family: ; */
    }

    .text_cd, .text_lp, .text_sr {
      font-size: 1.2em;
    }

    
  }
}
@media(width: 800px){
  @media(height: 600px){
    .s1_buttons{
      position: absolute;
      z-index: 100;
      display: flex;
      min-width: 5em;
      align-items: center;
      justify-content: center;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -85%);
      font-size: 0.3em;
      font-weight: 600;
      padding: 0;
      width: fit-content; 
    }

    .s3_q2{
      position: absolute;
      top: 80%;
      left: 0%;
      transform: translate(-0%, -80%);
      margin-left: 2em;
    }
    
    .s3_q3{
      position: absolute;
      top: 80%;
      right: 0%;
      transform: translate(0%, -80%);
      margin-left: -19.5em;
    }
    .s3_div{
      height: fit-content;
      width: 22em;
    }
    .s3_div h2{
      font-size: 3em;
      line-height: 1.75em;
      color: var(--main-color);
      -webkit-text-stroke: 1px black;
      text-shadow:
          3px 3px 0 #000,
          -1px -1px 0 #000,  
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
    }
    
    .roadmap_text{
      font-size: 1.2em;
      font: 1000;
      line-height: 1.5em;
      /* font-family: ; */
    }

    .text_cd, .text_lp, .text_sr {
      font-size: 1.3em;
    }

    .subcontainers4 {
      position: absolute;
      top: 60%;
      transform: translate(0%, -60%);
      display: flex;
      height: 55%;
      width: 95%;
      margin-left: 2.5%;
      margin-right: 2.5%;
      padding: 2% 5%;
      align-items: center;
      background-color: rgba(81, 81, 81, 0.65);
      backdrop-filter: blur(6px);
    }
  }
}
@media(width: 720px){
  @media(height: 360px){
    .s1_buttons{
      position: absolute;
      z-index: 100;
      display: flex;
      min-width: 5em;
      align-items: center;
      justify-content: center;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -85%);
      font-size: 0.45em;
      font-weight: 600;
      padding: 0;
      width: fit-content; 
    }

    .s3_q2{
      position: absolute;
      top: 80%;
      left: 0%;
      transform: translate(-0%, -80%);
      margin-left: 2em;
    }
    
    .s3_q3{
      position: absolute;
      top: 80%;
      right: 0%;
      transform: translate(0%, -80%);
      margin-left: 1em;
    }
    .s3_div{
      height: fit-content;
      width: 18em;
      padding: 1em 0 1em 0;
    }
    .s3_div h2{
      font-size: 1.25em;
      line-height: 1.75em;
      color: var(--main-color);
      -webkit-text-stroke: 1px black;
      text-shadow:
          3px 3px 0 #000,
          -1px -1px 0 #000,  
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
    }
    
    .roadmap_text{
      font-size: 0.8em;
      font: 1000;
      line-height: 1.5em;
      /* font-family: ; */
    }

    .text_cd, .text_lp, .text_sr {
      font-size: 1em;
    }

    
  }
}
@media(width: 720px){
  @media(height: 350px){
    .text_cd, .text_lp, .text_sr {
      font-size: 1em;
    }
    .s1_buttons{
      position: absolute;
      z-index: 100;
      display: flex;
      min-width: 5em;
      align-items: center;
      justify-content: center;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -85%);
      font-size: 0.45em;
      font-weight: 600;
      padding: 0;
      width: fit-content; 
    }

    .s3_q2{
      position: absolute;
      top: 80%;
      left: 0%;
      transform: translate(-0%, -80%);
      margin-left: 2em;
    }
    
    .s3_q3{
      position: absolute;
      top: 80%;
      right: 0%;
      transform: translate(0%, -80%);
      margin-left: 1em;
    }
    .s3_div{
      height: fit-content;
      width: 18em;
      padding: 1em 0 1em 0;
    }
    .s3_div h2{
      font-size: 1.25em;
      line-height: 1.75em;
      color: var(--main-color);
      -webkit-text-stroke: 1px black;
      text-shadow:
          3px 3px 0 #000,
          -1px -1px 0 #000,  
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
    }
    
    .roadmap_text{
      font-size: 0.8em;
      font: 1000;
      line-height: 1.5em;
      /* font-family: ; */
    }
  }
}
@media(width: 720px){
  @media(height: 348px){
    .text_cd, .text_lp, .text_sr {
      font-size: 1em;
    }
    .s1_buttons{
      position: absolute;
      z-index: 100;
      display: flex;
      min-width: 5em;
      align-items: center;
      justify-content: center;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -85%);
      font-size: 0.45em;
      font-weight: 600;
      padding: 0;
      width: fit-content; 
    }

    .s3_q2{
      position: absolute;
      top: 80%;
      left: 0%;
      transform: translate(-0%, -80%);
      margin-left: 2em;
    }
    
    .s3_q3{
      position: absolute;
      top: 80%;
      right: 0%;
      transform: translate(0%, -80%);
      margin-left: 1em;
    }
    .s3_div{
      height: fit-content;
      width: 18em;
      padding: 1em 0 1em 0;
    }
    .s3_div h2{
      font-size: 1.25em;
      line-height: 1.75em;
      color: var(--main-color);
      -webkit-text-stroke: 1px black;
      text-shadow:
          3px 3px 0 #000,
          -1px -1px 0 #000,  
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
    }
    
    .roadmap_text{
      font-size: 0.8em;
      font: 1000;
      line-height: 1.5em;
      /* font-family: ; */
    }
  }
}
@media(width: 640px){
  @media(height: 480px){
    .text_cd, .text_lp, .text_sr {
      font-size: 1.4em;
    }
    .s1_buttons{
      position: absolute;
      z-index: 100;
      display: flex;
      min-width: 5em;
      align-items: center;
      justify-content: center;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -85%);
      font-size: 0.45em;
      font-weight: 600;
      padding: 0;
      width: fit-content; 
    }

    .s3_q2{
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-0%, -50%);
      margin-left: 1em;
    }
    
    .s3_q3{
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(0%, -50%);
      margin-left: 1em;
    }
    .s3_div{
      height: fit-content;
      width: 18em;
      padding: 1em 0 1em 0;
    }
    .s3_div h2{
      font-size: 1.25em;
      line-height: 1.75em;
      color: var(--main-color);
      -webkit-text-stroke: 1px black;
      text-shadow:
          3px 3px 0 #000,
          -1px -1px 0 #000,  
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
    }
    
    .roadmap_text{
      font-size: 0.8em;
      font: 1000;
      line-height: 1.5em;
      /* font-family: ; */
    }
  }
}
@media(width: 640px){
  @media(height: 350px){
    .text_cd, .text_lp, .text_sr {
      font-size: 1.2em;
    }
    .s1_buttons{
      position: absolute;
      z-index: 100;
      display: flex;
      min-width: 5em;
      align-items: center;
      justify-content: center;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -85%);
      font-size: 0.45em;
      font-weight: 600;
      padding: 0;
      width: fit-content; 
    }

    .s3_q2{
      position: absolute;
      top: 80%;
      left: 0%;
      transform: translate(-0%, -80%);
      margin-left: 1em;
    }
    
    .s3_q3{
      position: absolute;
      top: 80%;
      right: 0%;
      transform: translate(0%, -80%);
      margin-left: 1em;
    }
    .s3_div{
      height: fit-content;
      width: 18em;
      padding: 1em 0 1em 0;
    }
    .s3_div h2{
      font-size: 1.25em;
      line-height: 1.75em;
      color: var(--main-color);
      -webkit-text-stroke: 1px black;
      text-shadow:
          3px 3px 0 #000,
          -1px -1px 0 #000,  
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
    }
    
    .roadmap_text{
      font-size: 0.8em;
      font: 1000;
      line-height: 1.5em;
      /* font-family: ; */
    }
  }
}
@media(width: 512px){
  @media(height: 384px){
    .text_cd, .text_lp, .text_sr {
      font-size: 1.2em;
    }
    .s1_buttons{
      position: absolute;
      z-index: 100;
      display: flex;
      min-width: 5em;
      align-items: center;
      justify-content: center;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -85%);
      font-size: 0.45em;
      font-weight: 600;
      padding: 0;
      width: fit-content; 
    }

    .s3_q2{
      position: absolute;
      top: 80%;
      left: 0%;
      transform: translate(-0%, -80%);
      margin-left: 3em;
    }
    
    .s3_q3{
      position: absolute;
      top: 80%;
      right: 0%;
      transform: translate(0%, -80%);
      margin-left: 1.5em;
    }
    .s3_div{
      height: fit-content;
      width: 12em;
      padding: 1em 0 1em 0;
    }
    .s3_div h2{
      font-size: 1.25em;
      line-height: 1.75em;
      color: var(--main-color);
      -webkit-text-stroke: 1px black;
      text-shadow:
          3px 3px 0 #000,
          -1px -1px 0 #000,  
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
    }
    
    .roadmap_text{
      font-size: 0.8em;
      font: 1000;
      line-height: 1.5em;
      /* font-family: ; */
    }
  }
}
@media(width: 320px){
  @media(height: 240px){
    .text_cd, .text_lp, .text_sr {
      font-size: 0.7em;
    }
    .s1_buttons{
      position: absolute;
      z-index: 100;
      display: flex;
      min-width: 5em;
      align-items: center;
      justify-content: center;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -85%);
      font-size: 0.45em;
      font-weight: 600;
      padding: 0;
      width: fit-content; 
    }

    .s3_q2{
      position: absolute;
      top: 85%;
      left: 0%;
      transform: translate(-0%, -85%);
      margin-left: 0.5em;
    }
    
    .s3_q3{
      position: absolute;
      top: 85%;
      right: 0%;
      transform: translate(0%, -85%);
      margin-left: 0.5em;
    }
    .s3_div{
      height: fit-content;
      width: 9em;
      padding: 1em 0 1em 0;
    }
    .s3_div h2{
      font-size: 1em;
      line-height: 1.75em;
      color: var(--main-color);
      -webkit-text-stroke: 1px black;
      text-shadow:
          3px 3px 0 #000,
          -1px -1px 0 #000,  
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
    }
    
    .roadmap_text{
      font-size: 0.25em;
      font: 1000;
      line-height: 0.1em;
      /* font-family: ; */
    }
    .s3_div li{
      height: 1em;
    }
  }
}
@media(width: 1680px){
  @media(height: 1050px){
    .s1_buttons{
      position: absolute;
      z-index: 100;
      display: flex;
      min-width: 5em;
      align-items: center;
      justify-content: center;
      top: 95%;
      left: 10%;
      transform: translate(-10%, -95%);
      font-size: 0.75em;
      font-weight: 600;
      padding: 0;
      width: fit-content; 
    }

    .s3_q2{
      position: absolute;
      top: 60%;
      left: 0%;
      transform: translate(-0%, -60%);
      margin-left: 14em;
    }
    
    .s3_q3{
      position: absolute;
      top: 60%;
      right: 0%;
      transform: translate(0%, -60%);
      margin-left: -24em;
    }
    .s3_div{
      height: fit-content;
      width: 32em;
    }
  }
}
@media(width: 1280px){
  @media(height: 720px){
    .s1_buttons{
      position: absolute;
      z-index: 100;
      display: flex;
      min-width: 5em;
      align-items: center;
      justify-content: center;
      top: 95%;
      left: 10%;
      transform: translate(-10%, -95%);
      font-size: 0.5em;
      font-weight: 600;
      padding: 0;
      width: fit-content; 
    }

    .s3_q2{
      position: absolute;
      top: 75%;
      left: 0%;
      transform: translate(-0%, -75%);
      margin-left: 5em;
    }
    
    .s3_q3{
      position: absolute;
      top: 75%;
      right: 0%;
      transform: translate(0%, -75%);
      margin-left: -29em;
    }
    .s3_div{
      height: fit-content;
      width: 32em;
    }
  }
}
@media(width: 1600px){
  @media(height: 900px){
    .s1_buttons{
      position: absolute;
      z-index: 100;
      display: flex;
      min-width: 5em;
      align-items: center;
      justify-content: center;
      top: 93%;
      left: 10%;
      transform: translate(-10%, -93%);
      font-size: 0.5em;
      font-weight: 600;
      padding: 0;
      width: fit-content; 
    }

    .s3_q2{
      position: absolute;
      top: 62.5%;
      left: 0%;
      transform: translate(-0%, -62.5%);
      margin-left: 10em;
    }
    
    .s3_q3{
      position: absolute;
      top: 62.5%;
      right: 0%;
      transform: translate(0%, -62.5%);
      margin-left: -31em;
    }
    .s3_div{
      height: fit-content;
      width: 32em;
    }
  }
}


