@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

:root {
  --main-color: hsl(264, 100%, 64%);
  --gradient_blue: linear-gradient(148deg, rgba(213,246,255,1) 0%, rgba(122,228,255,1) 28%, rgba(171,144,255,1) 58%, rgba(145,71,255,1) 100%);
  --gradient_purple3: linear-gradient(148deg, rgba(250,225,255,1) 6%, rgba(240,155,255,1) 38%, rgba(238,119,252,1) 71%, rgba(157,92,255,1) 100%);
  --gradient_purple2: linear-gradient(148deg, rgba(250,225,255,1) 6%, rgba(240,155,255,1) 32%, rgba(238,119,252,1) 61%, rgba(145,71,255,1) 100%);
  --gradient_purple: linear-gradient(148deg, rgba(250,225,255,1) 6%, rgba(240,155,255,1) 38%, rgba(238,119,252,1) 71%, rgba(172,117,255,1) 100%);
  --background_color: linear-gradient(90deg, rgba(241,128,254,1) 0%, rgba(199,110,255,1) 61%, rgba(145,71,255,1) 100%);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.invert{
  filter: invert(1);
}

/* GENERAL THINGS ----------------------------------------------------------*/

.link{text-decoration: none;}
.link:link{text-decoration: none; color: white;}
.link:visited{text-decoration: none; color: white;}
.link:hover{
  color: var(--main-color);
  transform: scale(1.1);
}

.theme_color{color: var(--main-color);}

section{
  width: 100%;
  height: min-content;
  display: flex;
  margin: 0 0 1rem 0;
  background-color: rgb(243, 243, 243);
}

.body{
  background: black;
  background-repeat: no-repeat;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.divider{
  width: 92.5%;
  align-self: center;
  background-color: white;
  z-index: 100000;
  height: 0.4rem;
  border-radius: 2rem;
  box-shadow:
  inset 0 0 0.625rem currentColor,
  inset 0 0 1.25rem currentColor,
  0 0 0.1rem currentColor,
  0 0 0.4rem currentColor,
  0 0 0.6rem currentColor;
}

.about_neon{
  color: hsl(320, 98%, 48%);
  animation: about_blinking 1s reverse;
}

.media_neon{
  color: hsl(320, 98%, 48%);
  animation: about_blinking 1s reverse;
}

.roadmap_neon{
  color: hsl(190, 98%, 48%);
  animation: roadmap_blinking 4s reverse;
}

.tokenomics_neon{
  color: hsl(120, 98%, 55%);
  animation: tokenomics_blinking 4s linear;
}

.theTeam_neon{
  color: hsl(51, 100%, 55%);
  animation: theTeam_blinking 4s reverse;
}

@keyframes about_blinking{
  0%, 60%, 70%
  {
    color: black;
    box-shadow:
    inset 0 0 0.625rem currentColor,
    inset 0 0 1.25rem currentColor,
    0 0 0.1rem currentColor,
    0 0 0.4rem currentColor,
    0 0 0.6rem currentColor;

  }
  40%, 65%, 100%
  {
    color: hsl(320, 98%, 48%);
    box-shadow:
    inset 0 0 0.625rem currentColor,
    inset 0 0 1.25rem currentColor,
    0 0 0.1rem currentColor,
    0 0 0.4rem currentColor,
    0 0 0.6rem currentColor;
  }
}

@keyframes roadmap_blinking{
  0%, 18%, 20%, 70%, 72%, 73%
  {
    color: black;
    box-shadow:
    inset 0 0 0.625rem currentColor,
    inset 0 0 1.25rem currentColor,
    0 0 0.1rem currentColor,
    0 0 0.4rem currentColor,
    0 0 0.6rem currentColor;

  }
  18.5%, 20.5%, 70.5%, 72.5%, 73.1%, 100%
  {
    color: hsl(190, 98%, 48%);
    box-shadow:
    inset 0 0 0.625rem currentColor,
    inset 0 0 1.25rem currentColor,
    0 0 0.1rem currentColor,
    0 0 0.4rem currentColor,
    0 0 0.6rem currentColor;
  }
}

@keyframes tokenomics_blinking{
  0%, 18%, 20%, 70%, 72%, 73%
  {
    color: black;
    box-shadow:
    inset 0 0 0.625rem currentColor,
    inset 0 0 1.25rem currentColor,
    0 0 0.1rem currentColor,
    0 0 0.4rem currentColor,
    0 0 0.6rem currentColor;

  }
  18.5%, 20.5%, 70.5%, 72.5%, 73.1%, 100%
  {
    color: hsl(120, 98%, 55%);
    box-shadow:
    inset 0 0 0.625rem currentColor,
    inset 0 0 1.25rem currentColor,
    0 0 0.1rem currentColor,
    0 0 0.4rem currentColor,
    0 0 0.6rem currentColor;
  }
}

@keyframes theTeam_blinking{
  0%, 18%, 20%, 70%, 72%, 73%
  {
    color: black;
    box-shadow:
    inset 0 0 0.625rem currentColor,
    inset 0 0 1.25rem currentColor,
    0 0 0.1rem currentColor,
    0 0 0.4rem currentColor,
    0 0 0.6rem currentColor;

  }
  18.5%, 20.5%, 70.5%, 72.5%, 73.1%, 100%
  {
    color: hsl(51, 100%, 55%);
    box-shadow:
    inset 0 0 0.625rem currentColor,
    inset 0 0 1.25rem currentColor,
    0 0 0.1rem currentColor,
    0 0 0.4rem currentColor,
    0 0 0.6rem currentColor;
  }
}

.appear_left{
  animation: appear_left 3s ease-in-out;
}

@keyframes appear_left{
  0%{
    opacity: 0;
    transform: translateX(-50rem);
  }
  60%{
    opacity: 1;
    transform: translateX(2em);
  }
  100%{
    opacity: 1;
    transform: translateX(0em);
  }
}

.appear_right{
  animation: appear_right 3s ease-in-out;
}

@keyframes appear_right{
  0%{
    opacity: 0;
    transform: translateX(50rem);
  }
  60%{
    opacity: 1;
    transform: translateX(-2em);
  }
  100%{
    opacity: 1;
    transform: translateX(0em);
  }
}

.s1-opacity_appear{
  animation: s1-opacity_appear_animation 3s ease-in-out;
  animation-delay: 4s;
}

@keyframes s1-opacity_appear_animation{
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}

/* START ---------------------------------------------------------------- */

.ml4-div{
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 100000000;
  font-size: 1rem;
}

.ml4 {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100000000;
  transform: translate(-50%, -50%);
  font-family:'Josefin Sans', sans-serif;
  font-size: 7rem;
  font-weight: 100;
  letter-spacing: 0.05em;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 0.001em linear-gradient(transparent, hsla(275, 0%, 0%, 0.267));
  line-height: 0.55em;
  outline: none;
  transition: 1s;
  color: #fff;
  text-shadow: 0 0 0.625rem hsl(287, 98%, 48%), 
    0 0 1.25rem hsl(287, 98%, 48%),
    0 0 2.5rem hsl(287, 98%, 48%),
    0 0 5rem hsl(287, 98%, 48%),
    0 0 10rem hsl(287, 98%, 48%);
}

.ml4 .letters {
  position: relative;
  font-family:'Josefin Sans', sans-serif;
  margin: auto;
  z-index: 100000000;
}

/* SCROLLBAR -------------------------------------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1rem;
  box-shadow: inset 0 0 0.35rem grey; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* HEADER -------------------------------------------------------------*/

.header{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 3.75rem;
  font-size: 1rem;
  padding: 1% 3%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  background: rgba(12, 12, 12, 0.7);
  backdrop-filter: blur(2.5px);
}

.logo_div{
  width: 3rem;
  height: 3rem;
}

.logo_img{
  width: 100%;
  height: 100%;
}

.nav_bar{
  z-index: 1000;
  width: 70%;
  height: 100%;
  padding: 0em 0.75em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.125rem;
  letter-spacing: 0.075em;
}

.nav_bar a{
  transition: 0.5s linear;
}

.nav_bar a:hover{
  transition: 0.5s linear;
  cursor: pointer;
  transform: scale(1);
  border: currentColor 0.1em solid;
  padding: 0.17em 0.75em;
  border-radius: 1.5em;
  text-shadow: 
    0 0 0.125em hsla(0, 0%, 100%, 0.3),
    0 0 0.45em currentColor;
  box-shadow: 
    inset 0 0 .5em 0 currentColor,
    0 0 .5em 0 currentColor;
}

#Nav_home:hover{
  color: hsl(280, 98%, 48%);
}
#Nav_about:hover{
  color: hsl(300, 98%, 48%);
}
#Nav_roadmap:hover{
  color: hsl(190, 98%, 48%);
}
#Nav_tokenomics:hover{
  color: hsl(120, 98%, 55%);
}
#Nav_theTeam:hover{
  color: hsl(51, 100%, 55%);
}

/* SOCIAL MEDIA ----------------------------------------------------------*/

.side_bar{
  position: fixed;
  top: 96.2%;
  left: 98.3%;
  transform: translate(-98.3%, -96.2%);
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  transition: 0.5s;
  z-index: 100000;
  overflow: hidden;
  font-size: 1rem;
  transition: width 0.25s, height 2.5s ease-in-out, background 1.25s, box-shadow 1.25s;
  transition-delay: 0s, 0.75s, 0s, 0s;
}

.side_bar:hover{
  background: hsl(290, 90%, 54%);
  box-shadow: 0 0 0.3rem hsl(290, 90%, 54%),
  0 0 0.75rem hsl(290, 90%, 54%),
  0 0 1rem hsl(290, 90%, 54%),
  0 0 3rem hsl(290, 90%, 54%);
}

.side_bar.active{
  width: 3rem;
  height: 19rem;
  border-radius: 3rem;
  transition: width 0.25s, height 1.25s ease-out;
  transition-delay: 0s, 0s;
}

.side_bar.active:hover{
  background: transparent;
  box-shadow: none;
}

.toggle{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 1s, left 0s, background 2s, box-shadow 1.25s;
  transition-delay: 0s, 0s, 1s, 0s;
  cursor: pointer;
}

.toggle:hover{
  box-shadow: 0 0 0.3rem hsl(290, 90%, 54%),
  0 0 0.75rem hsl(290, 90%, 54%),
  0 0 1rem hsl(290, 90%, 54%),
  0 0 3rem hsl(290, 90%, 54%);
}

.toggle.active{
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
  background-color: transparent;
  border: #000;
  background: white;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0s, left 0s, background 1.25s;
}

.toggle.active:hover{
  box-shadow: none;
}

.toggle::before{
  content: "+";
  position: absolute;
  font-size: 3em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-weight: 400;
  transition: 2s;
  transform: rotate(-360deg);
  transition-delay: 0.9s;
}

.toggle.active::before{
  color: #000;
  transform: rotate(315deg);
  transition: transform 1.25s;
  transition-delay: 0s;
}

.side_bar_list{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  padding: 5%;
  transition: top 1.5s;
  transition-delay: 0s;
  border-radius: 3rem;
}

.side_bar_list.active{
  position: relative;
  top: -15%;
  left: 0;
  width: 100%;
  height: 80%;
  padding: 5%;
  transition: top 0s;
  transition-delay: 0s;
}

.side_bar-list-item{
  position: relative;
  list-style: none;
  width: 100%;
  height: 20%;
  padding: 2% 1%;
}

.side_bar-social_media{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  transition: 0.75s;
}

.social_media-img_span{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.social_media-img{
  width: 100%;
  height: 100%;
  padding: 2.5%;
}

.social_media-img_pancake{
  opacity: 0;
  transition: opacity 0.25s;
  transition-delay: 0.85s;
}

.social_media-img_pancake.active{
  opacity: 1;
  transition: opacity 2s;
  transition-delay: 1.5s;
}

.social_media-img_twitch{
  opacity: 0;
  transition: opacity 0.25s;
  transition-delay: 1s;
}

.social_media-img_twitch.active{
  opacity: 1;
  transition: opacity 2s;
  transition-delay: 1.25s;
}

.social_media-img_youtube{
  opacity: 0;
  transition: opacity 0.25s;
  transition-delay: 1.15s;
}

.social_media-img_youtube.active{
  opacity: 1;
  transition: opacity 2s;
  transition-delay: 1s;
}

.social_media-img_twitter{
  opacity: 0;
  transition: opacity 0.25s;
  transition-delay: 1.3s;
}

.social_media-img_twitter.active{
  opacity: 1;
  transition: opacity 2s;
  transition-delay: 0.75s;
}

.social_media-img_telegram{
  opacity: 0;
  transition: opacity 0.25s;
  transition-delay: 1.5s;
}

.social_media-img_telegram.active{
  opacity: 1;
  transition: opacity 2s;
  transition-delay: 0.5s;
}

.social_media-p{
  font-size: 1.5em;
  color: white;
}

.side_bar-social_media{text-decoration: none;}
.side_bar-social_media:link{text-decoration: none; color: black;}
.side_bar-social_media:visited{text-decoration: none; color: black;}
.side_bar-social_media:hover{
  color: var(--main-color);
  font-size: 1em;
  transform: scale(1.15) translateY(-0.15rem);
}

.social_media_text_span{
  width: 80%;
  height: 100%;
  padding: 1% 1% 1% 10%;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
}

/* Section 1: Home ----------------------------------------------------------*/

.s1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: 1;
  font-size: 1rem;
}

.s1_text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s1-text_titleName{
  position: relative;
  font-family:'Josefin Sans', sans-serif;
  font-size: 7rem;
  font-weight: 100;
  letter-spacing: 0.05em;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 0.001em linear-gradient(transparent, hsla(275, 0%, 0%, 0.267));
  line-height: 0.55em;
  outline: none;
  transition: 1s;
  color: #fff;
  text-shadow: 0 0 0.625rem hsl(287, 98%, 48%), 
    0 0 1.25rem hsl(287, 98%, 48%),
    0 0 2.5rem hsl(287, 98%, 48%),
    0 0 5rem hsl(287, 98%, 48%),
    0 0 10rem hsl(287, 98%, 48%);
}

.s1-text_titleName{text-decoration: none; font-family:'Josefin Sans', sans-serif;}
.s1-text_titleName:link{text-decoration: none; font-family:'Josefin Sans', sans-serif;}
.s1-text_titleName:visited{text-decoration: none; font-family:'Josefin Sans', sans-serif;}
.s1-text_titleName:hover{
  font-family:'Josefin Sans', sans-serif;
}

.s1-text_titleName span{
  font-family:'Josefin Sans', sans-serif;
}

.s1_blink{
  animation: animate 10s linear infinite;
  animation-delay: 6s;
}

#s1_blink_1{
  animation-delay: 7s;
}
#s1_blink_3{
  animation-delay: 11s;
}
#s1_blink_4{
  animation-delay: 8s;
}

@keyframes animate{
  0%, 18%, 19%, 60.01%, 70%, 71.01%, 95%
  {
    color: rgb(43, 43, 43);
    text-shadow: 0 0 0.625rem hsla(275, 65%, 16%, 0.35), 
    0 0 1.25rem hsla(275, 65%, 16%, 0.35),
    0 0 2.5rem hsla(275, 65%, 16%, 0.35),
    0 0 5rem hsla(275, 65%, 16%, 0.35),
    0 0 10rem hsla(275, 65%, 16%, 0.35);

  }
  18.01%, 19.01%, 60%, 70.01%, 71%, 95.01%, 100%
  {
    color: #fff;
    text-shadow: 0 0 0.625rem hsl(287, 98%, 48%), 
    0 0 1.25rem hsl(287, 98%, 48%),
    0 0 2.5rem hsl(287, 98%, 48%),
    0 0 5rem hsl(287, 98%, 48%),
    0 0 10rem hsl(287, 98%, 48%);
  }
}

.s1_buttons{
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
}

.s1_buttons a{
  position: relative;
  display: inline-block;  
  padding: 0.9375rem 1.875rem;
  color: hsl(290, 90%, 54%);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  text-decoration: none;
  font-size: 1.125rem;
  overflow: hidden;
  transition: 0.2s;
}

.s1_buttons a:hover{
  color: hsl(0, 0%, 100%);
  background: hsl(290, 90%, 54%);
  box-shadow: 0 0 0.3rem hsl(290, 90%, 54%),
  0 0 0.75rem hsl(290, 90%, 54%),
  0 0 1rem hsl(290, 90%, 54%),
  0 0 3rem hsl(290, 90%, 54%);
  transition-delay: 1s;
}

.s1_buttons a span{
  position: absolute;
  display: block;
}

.s1_buttons a span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 0.125rem;
  background: linear-gradient(90deg, transparent, hsl(290, 90%, 54%));
}

.s1_buttons a:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}

.s1_buttons a span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 0.125rem;
  background: linear-gradient(270deg, transparent, hsl(290, 90%, 54%));
}

.s1_buttons a:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.s1_buttons a span:nth-child(2){
  top: -100%;
  right: 0;
  width: 0.125rem;
  height: 100%;
  background: linear-gradient(180deg, transparent, hsl(290, 90%, 54%));
}

.s1_buttons a:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.s1_buttons a span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 0.125rem;
  height: 100%;
  background: linear-gradient(360deg, transparent, hsl(290, 90%, 54%));
}

.s1_buttons a:hover span:nth-child(4){
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
} 

/* Section 2: About ----------------------------------------------------------*/

.s2{
  flex-direction: column;
  padding: 6rem 2rem;
  font-size: 1rem;
  background-color: black;
}

.s2-div_About{
  display: flex;
  width: 100%;
}

#s2-div_data{
  padding: 0 2em;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.s2-stats{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.s2-stat_name{
  font-size: 1.5em;
  color: rgb(162, 160, 160);
}
.s2-stat_number{
  font-size: 1.5em;
  color: #fff;
}

#s2-div_description{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em 8em;
}

#s2-top{
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}


#s2-mid{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2em;
}

.s2-description_title{
  font-size: 6.5rem;
  line-height: 0.85em;
  outline: none;
  color: #fff;
  font-family: 'Quicksand', cursive;
  font-weight: 100;
  text-shadow:
    0 0 0.3125rem hsl(0, 0%, 90%), 
    0 0 0.625rem hsl(320, 98%, 70%), 
    0 0 1.25rem hsl(320, 98%, 60%),
    0 0 2rem hsl(320, 98%, 50%),
    0 0 2.5rem hsl(320, 98%, 40%),
    0 0 4rem hsl(320, 100%, 30%);
}

#s2_how{
  text-align: left;
}

.s2-description_text{
  width: 100%;
  font-size: 1.2em;
  padding-top: 2.5rem;
  text-align: justify;
  color: white;
}

#s2-description_mid{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.s2-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 3rem 3rem 3rem 1rem;
}

.s2-img img{
  width: 100%;
  height: 100%;
}

/* Section 6: Media ---------------------------------------------------------------------- */

.s6{
  flex-direction: column;
  padding: 6rem 2rem;
  font-size: 1rem;
  background-color: black;
}

.s6-div_Media{
  width: 100%;
  display: flex;
  color: #fff;
  text-shadow: none;
}

#s6-div_title{
  justify-content: center;
  align-items: center;
  padding: 0 0 5.5rem 0;
  font-size: 6.5rem;
  line-height: 0.85em;
  outline: none;
  color: #fff;
  font-family: 'Quicksand', cursive;
  font-weight: 100;
  text-shadow:
    0 0 0.3125rem hsl(0, 0%, 90%), 
    0 0 0.625rem hsl(320, 98%, 70%), 
    0 0 1.25rem hsl(320, 98%, 60%),
    0 0 2rem hsl(320, 98%, 50%),
    0 0 2.5rem hsl(320, 98%, 40%),
    0 0 4rem hsl(320, 100%, 30%);
}

#s6-div_content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#s6-video{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  box-shadow: 0 0 0.25rem hsl(0, 0%, 90%),
  0 0 0.10rem hsl(320, 98%, 70%), 
  0 0 0.15rem hsl(320, 98%, 60%),
  0 0 0.5rem hsl(320, 98%, 50%),
  0 0 0.75rem hsl(320, 98%, 40%),
  0 0 1rem hsl(320, 100%, 30%);
}

#s6-video iframe{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#s6-navigation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 35rem;
}

#s6-navigation li{
  width: 100%;
  list-style: none;
  cursor: pointer;
  margin: 0.5rem 0;
  border-radius: 10%;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

#s6-navigation li:hover{
  opacity: 1;
}

#s6-navigation li img{
  width: 100%;
  transition: 0.5s;
  border-radius: 10%;
}

#s6-navigation li img:hover{
  transform: scale(1.1) translateY(-0.4rem);
}

/* Section 3: Roadmap ----------------------------------------------------------*/

.s3{
  flex-direction: column;
  align-items: center;
  padding: 7.5rem 11rem 7.5rem;
  background-color: hsl(0, 0%, 0%);
  color: #fff;
  text-shadow:
    0 0 0.3125rem hsl(0, 0%, 90%), 
    0 0 0.625rem hsl(205, 98%, 70%), 
    0 0 1.25rem hsl(205, 98%, 60%),
    0 0 2rem hsl(205, 98%, 50%),
    0 0 2.5rem hsl(205, 98%, 40%),
    0 0 4rem hsl(205, 100%, 30%);
}

.s3-div_Roadmap{
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-shadow: none;
}

#s3-div_title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 5.5rem 0;
  font-size: 6.5rem;
  line-height: 0.85em;
  outline: none;
  color: #fff;
  font-family: 'Quicksand', cursive;
  font-weight: 100;
  text-shadow:
    0 0 0.3125rem hsl(0, 0%, 90%), 
    0 0 0.625rem hsl(205, 98%, 70%), 
    0 0 1.25rem hsl(205, 98%, 60%),
    0 0 2rem hsl(205, 98%, 50%),
    0 0 2.5rem hsl(205, 98%, 40%),
    0 0 4rem hsl(205, 100%, 30%);
}

.s3-timeline_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 1.5rem 0;
}

.s3-spacing{
  width: 40%;
  height: 100%;
}

.s3-timeline_item{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40%;
  height: 100%;
  color: white;
}


.s3-timeline_item_title{
  font-size: 3em;
  font-weight: 300;
  padding: 0 0 0.75rem 0;
  line-height: 1em;
  width: 22.5rem;
  text-shadow:
    0 0 0.1rem hsl(0, 0%, 90%), 
    0 0 0.25rem hsl(0, 0%, 90%);
}

.s3-timeline_item_text{
  font-size: 1.2rem;
  font-weight: 100;
  list-style: none;
  width: 22.5rem;
}

.s3-timeline_circle-div{
  z-index: 10000;
  width: 10%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s3-timeline_circle{
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
}

#s3-timeline_circle_top{
  background: radial-gradient(hsl(0, 0%, 80%) 10%, hsl(210, 90%, 54%) 80%);
  box-shadow: 0 0 0.3rem hsl(210, 90%, 54%),
  0 0 0.75rem hsl(210, 90%, 54%),
  0 0 1rem hsl(210, 90%, 54%),
  0 0 3rem hsl(210, 90%, 54%);
}

#s3-timeline_circle_mid{
  border: solid;
  border-color: hsl(210, 90%, 54%);
  border-width: 0.1em;
}

.fullfill_top{
  animation: blinking_top 2.5s linear;
}

.fullfill_mid{
  animation: blinking_mid 5s linear infinite;
}

@keyframes blinking_top{
  0%
  {
    box-shadow: none;
  }
  100%
  {
    box-shadow: 0 0 0.3rem hsl(210, 90%, 54%),
    0 0 0.75rem hsl(210, 90%, 54%),
    0 0 1rem hsl(210, 90%, 54%),
    0 0 3rem hsl(210, 90%, 54%);
  }
}

@keyframes blinking_mid{
  0%
  {
    box-shadow: none;
  }
  50%
  {
    box-shadow: 0 0 0.3rem hsl(220, 98%, 48%),
    0 0 0.75rem hsl(220, 98%, 48%),
    0 0 1rem hsl(220, 98%, 48%),
    0 0 3rem hsl(220, 98%, 48%)
  }
  100%{
    box-shadow: none;
  }
}

#s3-timeline_circle_bot{
  border: solid;
  border-color: hsl(220, 98%, 48%);
  border-width: 0.1em;
}




/* Section 4: Tokenomics ----------------------------------------------------------*/

.s4{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7.5rem 7.5rem 7.5rem;
  font-size: 1rem;
  background-color: black;
}

.s4-div_Tokenomics-title{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#s4-div_title{
font-size: 6.5rem;
line-height: 0.85em;
padding: 0 0 5.5rem 0;
outline: none;
color: #fff;
font-family: 'Quicksand', cursive;
font-weight: 100;
text-shadow:
  0 0 0.3125rem hsl(0, 0%, 90%), 
  0 0 0.625rem hsl(120, 98%, 70%), 
  0 0 1.25rem hsl(120, 98%, 60%),
  0 0 2rem hsl(120, 98%, 50%),
  0 0 2.5rem hsl(120, 98%, 40%),
  0 0 4rem hsl(120, 100%, 30%);
}

.s4-div_Tokenomics{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: row;
  padding: 3em 0 0 0;
}

#s4-div_info_left{
  display: flex;
  min-width: 30%;
  flex-direction: column;
}

#s4-div_info_right{
  min-width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.s4-info_item{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.s4-info_name{
  width: 42.5%;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  border-right: 0.1rem solid;
  border-color: white;
}

.s4-info_number{
  width: 57.5%;
  font-size: 1rem;
  color: hsl(120, 98%, 48%);
  font-weight: 600;
  text-align: center;
  padding: 0 0 0 1rem;
}

.s4-info_fee_name{
  padding: 0 0 1rem 0;
  font-size: 3rem;
  color: white;
  font-weight: 100;
  letter-spacing: 0.025rem;
  text-shadow:
    0 0 0.15rem hsl(0, 0%, 90%), 
    0 0 0.25rem hsl(120, 98%, 70%), 
    0 0 0.5rem hsl(120, 98%, 60%),
    0 0 0.75rem hsl(120, 98%, 50%),
    0 0 1.25rem hsl(120, 98%, 40%),
    0 0 1.5rem hsl(120, 100%, 30%);
}

.s4-info_fee_text{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.s4-info_fee_number{
  padding-left: 2em;
  font-size: 1.4em;
  display: flex;
  flex-direction: row;
  color: white;
}

#s4-info_fee_percentage{
  width: 15%;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  border-right: 0.1rem solid;
  border-color: white;
  color: hsl(120, 98%, 48%);
}

#s4-info_fee_percentage_text{
  width: 85%;
  padding: 0 0 0 1rem;
  font-size: 1.3rem;
  color: white;
  text-align: center;
}


/* Section 5: Dev Team ----------------------------------------------------------*/

.s5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7.5rem 3.5rem;
  font-size: 1rem;
  margin: 0;
  background-color: black;
}

.s5-div_team{
  width: 100%;
}

#s5-div_title{
  display: flex;
  justify-content: space-around;
  height: 30%;
  padding: 0 0 5rem 0;
  font-size: 6.5rem;
  line-height: 0.85em;
  outline: none;
  color: #fff;
  font-family: 'Quicksand', cursive;
  font-weight: 100;
  text-shadow:
    0 0 0.3125rem hsl(0, 0%, 90%), 
    0 0 0.625rem hsl(51, 98%, 70%), 
    0 0 1.25rem hsl(51, 98%, 60%),
    0 0 2rem hsl(51, 98%, 50%),
    0 0 2.5rem hsl(51, 98%, 40%),
    0 0 4rem hsl(51, 100%, 30%);
}

#s5-div_content{
  display: flex;
  justify-content: center;
  height: 70%;
  width: 75%;
  min-height: 17rem;
  flex-wrap: wrap;
}

.s5-team_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  min-width: 15rem;
  height: 100%;
  margin: 1.5rem 1.5rem;
  border-radius: 1rem;
  background: hsl(0, 0%, 10%);
  box-shadow: 0 0 0.25rem hsl(0, 0%, 90%),
  0 0 0.10rem hsl(51, 98%, 70%),
  0 0 0.15rem hsl(51, 98%, 60%),
  0 0 0.5rem hsl(51, 98%, 50%),
  0 0 0.75rem hsl(51, 98%, 40%),
  0 0 1rem hsl(51, 100%, 30%);
}

.s5_item_animation_1{
  animation: s5_item_animation 2s ease-out;
}
.s5_item_animation_2{
  animation: s5_item_animation 3s ease-out;
}
.s5_item_animation_3{
  animation: s5_item_animation 4s ease-out;
}
.s5_item_animation_4{
  animation: s5_item_animation 5s ease-out;
}
.s5_item_animation_5{
  animation: s5_item_animation 6s ease-out;
}

@keyframes s5_item_animation{
  0%{
    opacity: 0;
    transform: translateX(80rem);
  }
  60%{
    opacity: 1;
    transform: translateX(-2em);
  }
  80%{
    opacity: 1;
    transform: translateX(0.5em);
  }
  100%{
    opacity: 1;
    transform: translateX(0em);
  }
}

.s5-team_img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.s5-img{
  border-radius: 1rem;
  width: 100%;
  height: auto;
}

#s5-maui_img{
  background: #000;
  border-radius: 1rem;
}

.s5-team_description{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.05rem;
  color: white;
  padding: 0 0.2rem 1.5em;
}

.s5-team_description-Name{
  font-size: 1.15rem;
  padding: 1em 0.4em 0.5rem;
}

.s5-team_socials{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  max-height: 5rem;
  padding: 0 0rem 1.5rem;
}

.s5-team_socials_img{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 2rem;
  max-height: 2rem;
  transition: 0.5s;
}

.s5-team_socials_img img{
  width: 100%;
  height: auto;
}

.s5-team_socials_img{text-decoration: none;}
.s5-team_socials_img:link{text-decoration: none;}
.s5-team_socials_img:visited{text-decoration: none;}
.s5-team_socials_img:hover{
  transform: scale(1.2) translateY(-0.5rem);
}

/* Footer ----------------------------------------------------------*/

footer{
  width: 100%;
  height: min-content;
  display: flex;  
  flex-direction: column;
  padding: 2rem 2rem;
  background: hsl(0, 0%, 2.5%);
  color: white;
  box-shadow:
    inset 0 0 0.1rem currentColor,
    inset 0 0 0.2rem currentColor,
    0 0 0.1rem currentColor,
    0 0 0.2rem currentColor,
    0 0 0.3rem currentColor,
    0 0 0.4rem currentColor;
}

.foot-div{
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 1rem 0 2rem 0;
}

.foot-info_socials{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-box-reflect: below -35% linear-gradient(transparent 12%, rgba(0, 0, 0, 0.007) 20%, rgba(0, 0, 0, 0.05) 70%);
}

.foot-info_socials_img{
  height: 100%;
  width: 20%;
  padding: 2.5%;
  transition: 0.5s;
}

.foot-info_socials_img img{
  width: 3rem;
  height: 3rem;
}

.foot-info_socials_img{text-decoration: none;}
.foot-info_socials_img:link{text-decoration: none; color: black;}
.foot-info_socials_img:visited{text-decoration: none; color: black;}
.foot-info_socials_img:hover{
  transform: scale(1.1) translateY(-0.3rem);
}

#foot-copyright{
  padding: 1rem 0 1.5rem 0;
}

#foot-developedby{
  padding: 0 0 0.75rem 0;
}

.foot-developedby_link{
  text-decoration: none;
  margin: 0 1rem;
  transition: 0.5s;
}

.foot-developedby_link:link{text-decoration: none; color: rgb(81, 81, 81);}
.foot-developedby_link:visited{text-decoration: none; color: rgb(81, 81, 81);}
.foot-developedby_link:hover{
  color: hsl(320, 98%, 48%);
  transform: scale(1.1) translateY(-0.1rem);
}

/* RESPONSIVE ------------------------------------------ */

@media(max-width: 1370px){
  .s4-info_name{
    font-size: 1.2rem;
    padding-right: 0.5rem;
  }
}

@media(max-width: 1250px){
  .s3{
    padding: 7.5rem 3rem 7.5rem;
  }
}

@media(max-width: 1080px){
  html{
    font-size: 14px;
  }
}

@media(max-width: 980px){
  html{
    font-size: 12px;
  }
}

@media(max-width: 780px){
  html{
    font-size: 10px;
  }
}

@media(max-width: 650px){
  html{
    font-size: 8px;
  }
}

@media(max-width: 500px){
  html{
    font-size: 6px;
  }
}

@media only screen and (hover: none) and (pointer: coarse){
  html{
    font-size: 7px;
  }

  .header{
    height: 5rem;
  }
  .logo_div{
    display: none;
  }
  .nav_bar{
    width: 100%;
    font-size: 1.5rem;
  }

  .side_bar{
    top: 94%;
    left: 90%;
    transform: translate(-90%, -94%);    transform: scale(2);
  }

  .s1_buttons a{
    font-size: 2rem;
  }


  #s2-mid{
    flex-direction: column;
  }
  #s2-div_description{
    padding: 4em 4em;
  }
  #s2-description_mid{
    width: 100%;
  }
  #s2-img{
    width: 100%;
  }
  .s2-description_title{
    font-size: 10rem;
    padding: 3rem 0;
  }
  .s2-description_text{
    font-size: 2.5em;
  }

  #s3-div_title{
    font-size: 10rem;
  }
  #s3-div_timeline{
    align-items: center;
    justify-content: center;
  }
  .s3-timeline_container{
    justify-content: center;
  }
  #s3-timeline_container-top,
  #s3-timeline_container-bot{
    flex-direction: row-reverse;
  }
  .s3-spacing{
    display: none;
  }
  .s3-timeline_item{
    width: 100%;
    padding: 2rem 0;
  }
  .s3-timeline_item_title{
    font-size: 7.5em;
    text-shadow:
      0 0 0.25rem hsl(0, 0%, 90%), 
      0 0 0.5rem hsl(0, 0%, 90%);
  }
  .s3-timeline_item_text{
    font-size: 2.5rem;
    width: 100%;
  }
  
  #s4-div_title{
    font-size: 10rem;
  }
  .s4-div_Tokenomics{
    flex-direction: column;
    align-items: center;
  }
  #s4-div_info_right{
    padding: 3rem;
  }
  .s4-info_name{
    font-size: 2rem;
    width: 30%;
    padding: 0 2rem 0 0;
  }
  .s4-info_number{
    font-size: 1.6rem;
    width: 70%;
  }
  #s4-info_fee_percentage{
    font-size: 2rem;
    padding: 0 1rem 0 0;
  }
  #s4-info_fee_percentage_text{
    font-size: 1.6rem;
  }

  .s5{
    padding: 7.5rem 2rem;
  }
  #s5-div_title{
    font-size: 10rem;
  }
  #s5-div_content{
    width: 100%;
  }
  .s5-team_item{
    width: 60%;
    min-width: 15rem;
    height: 100%;
    margin: 2rem 0;
    border-radius: 1rem;
    background: hsl(0, 0%, 10%);
    box-shadow: 0 0 0.25rem hsl(0, 0%, 90%),
    0 0 0.25rem hsl(51, 98%, 70%),
    0 0 0.5rem hsl(51, 98%, 60%),
    0 0 0.75rem hsl(51, 98%, 50%),
    0 0 1rem hsl(51, 98%, 40%),
    0 0 1.2rem hsl(51, 100%, 30%);
  }
  .s5-team_description{
    font-size: 2.5rem;
    padding: 0 0.2rem 1em;
  }
  .s5-team_description-Name{
    font-size: 3rem;
    padding: 1em 0.4em 0.5rem;
  }
  .s5-team_socials{
    max-height: 10rem;
    padding: 0 0rem 3rem;
  }
  .s5-team_socials_img{
    max-width: 5rem;
    max-height: 5rem;
  }

  #foot-info{
    padding: 1rem 0 8rem 0;
  }
  .foot-info_socials{
    width: 75%;
    -webkit-box-reflect: below -20% linear-gradient(transparent 12%, rgba(0, 0, 0, 0.007) 20%, rgba(0, 0, 0, 0.05) 70%);
  }
  .foot-info_socials_img img{
    width: 7.5rem;
    height: 7.5rem;
  }
  #foot-copyright{
    font-size: 2.5rem;
  }
  #foot-developedby{
    font-size: 1.5rem;
  }

  

  @media(min-width: 750px){
    html{
      font-size: 10px;
    }
  }

  @media(min-width: 1000px){
    html{
      font-size: 16px;
    }
  }
  
  
  @media(max-width: 400px){
    html{
      font-size: 6px;
    }
  }
  @media(max-width: 350px){
    html{
      font-size: 5px;
    }
  }
  @media(max-width: 300px){
    html{
      font-size: 4px;
    }
    .header{
      height: 7.5rem;
    }

    .s1_buttons a{
      font-size: 4rem;
    }
    .nav_bar{
      font-size: 2rem;
    }
  }
}